doctype 5
html
  head
    title Twitter Nearby
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='/css/app.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/geo-location-javascript/0.4.8/geo-min.js')
    script(src='//maps.googleapis.com/maps/api/js?v=3.exp&sensor=true')
    script(src='/js/app.js')
  body
    #map
